body {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;

    min-height: 100vh;
}

header {
    padding: 5px;
    background-color: #ffffff;
}

.button-login {
    border-radius: 5px;
    background-color: #312ECB;
    color: #ffffff;
    width: 50%;
    margin: 0 25%;
}

.button-default {
    border-radius: 5px;
    background-color: #312ECB;
    color: #ffffff;
}

.button-login:hover, .button-default:hover, .button-float:hover {
    background: #007AFF;
    color: #ffffff;
}

.button-float {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: fixed;
    padding: 0 !important;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    background-color: #312ECB;
    color: #ffffff;
}

.link-default {
    color: #4e0070;
    cursor: pointer;
}

.link-default:hover {
    color: #4c79d3;
}

.logout {
    min-width: 4.2rem !important;
}